# Machine Problem  
Nathaniel Cruel and Renzo Virtucio  
Department of Computer Science, University of the Philippines Diliman  
CS 180: Artificial Intelligence  
Professor Carlo Raquel  
June 15, 2021
***

## Introduction to the Problem
## Rationale
## Objective

## Methodology

In [61]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

students_math = pd.read_csv('student/student-mat.csv', delimiter=';', header=0)
students_math.shape

## PREPROCESSING OF DATA ##

# Label Encoding
students_math.school = students_math.school.map({"GP":0, "MS":1})
students_math.sex = students_math.sex.map({"F":0, "M":1})
students_math.address = students_math.address.map({"U":0, "R":1})
students_math.famsize = students_math.famsize.map({"LE3":0, "GT3":1})
students_math.Pstatus = students_math.Pstatus.map({"T":0, "A":1})
students_math.schoolsup = students_math.schoolsup.map({"yes":0, "no":1})
students_math.famsup = students_math.famsup.map({"yes":0, "no":1})
students_math.paid = students_math.paid.map({"yes":0, "no":1})
students_math.activities = students_math.activities.map({"yes":0, "no":1})
students_math.nursery = students_math.nursery.map({"yes":0, "no":1})
students_math.higher = students_math.higher.map({"yes":0, "no":1})
students_math.internet = students_math.internet.map({"yes":0, "no":1})
students_math.romantic = students_math.romantic.map({"yes":0, "no":1})

# students_math.Mjob = students_math.Mjob.map({"teacher":0, "health":1, "services":2, "at_home":3, "other":4})
# students_math.Fjob = students_math.Fjob.map({"teacher":0, "health":1, "services":2, "at_home":3, "other":4})
# students_math.reason = students_math.reason.map({"home":0, "reputation":1, "course":2, "other":3})
# students_math.guardian = students_math.guardian.map({"mother":0, "father":1, "other":2})

# Encoding nominal attributes
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

job_types = ["teacher", "health", "services", "at_home", "other"]
reason_types = ["home", "reputation", "course", "other"]
guardian_types = ["mother", "father", "other"]

Mjob_dum = pd.get_dummies(students_math['Mjob'], prefix='Mjob')
Fjob_dum = pd.get_dummies(students_math['Fjob'], prefix='Fjob')
reason_dum = pd.get_dummies(students_math['reason'], prefix='reason')
guardian_dum = pd.get_dummies(students_math['guardian'], prefix='guardian')
guardian_dum

students_math = pd.concat([students_math, Mjob_dum, Fjob_dum, reason_dum, guardian_dum], axis=1)
students_math.drop(['Mjob', 'Fjob', 'reason', 'guardian'], axis=1, inplace=True)
students_math

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,0,0,18,0,1,1,4,4,2,2,...,0,0,1,1,0,0,0,0,1,0
1,0,0,17,0,1,0,1,1,1,2,...,1,0,0,1,0,0,0,1,0,0
2,0,0,15,0,0,0,1,1,1,2,...,1,0,0,0,0,1,0,0,1,0
3,0,0,15,0,1,0,4,2,1,3,...,0,1,0,0,1,0,0,0,1,0
4,0,0,16,0,1,0,3,3,1,2,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,0,0,1,2,2,1,2,...,0,1,0,1,0,0,0,0,0,1
391,1,1,17,0,0,0,3,1,2,1,...,0,1,0,1,0,0,0,0,1,0
392,1,1,21,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,0,0,1
393,1,1,18,1,0,0,3,2,3,1,...,1,0,0,1,0,0,0,0,1,0
394,1,1,19,0,0,0,1,1,1,1,...,0,0,0,1,0,0,0,1,0,0

In [60]:
y = students_math['G3']
X = students_math.drop(['G3'], axis=1)
X.shape, y.shape

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=0)

print(X_train.shape, y_train.shape)

print(X_test.shape, y_test.shape)


clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

(237, 44) (237,)
(158, 44) (158,)

0.4050632911392405

## Data and Analysis

## Conclusion

## Individual Contributions