# Machine Problem  
Nathaniel Cruel and Renzo Virtucio  
Department of Computer Science, University of the Philippines Diliman  
CS 180: Artificial Intelligence  
Professor Carlo Raquel  
June 15, 2021
***

## Introduction to the Problem
## Rationale
## Objective

## Methodology

In [101]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

students_math = pd.read_csv('student/student-mat.csv', delimiter=';', header=0)
students_math

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [102]:
# Preprocessing
students_math.school = students_math.school.map({"GP":0, "MS":1})
students_math.sex = students_math.sex.map({"F":0, "M":1})
students_math.address = students_math.address.map({"U":0, "R":1})
students_math.famsize = students_math.famsize.map({"LE3":0, "GT3":1})
students_math.Pstatus = students_math.Pstatus.map({"T":0, "A":1})
students_math.Mjob = students_math.Mjob.map({"teacher":0, "health":1, "services":2, "at_home":3, "other":4})
students_math.Fjob = students_math.Fjob.map({"teacher":0, "health":1, "services":2, "at_home":3, "other":4})
students_math.reason = students_math.reason.map({"home":0, "reputation":1, "course":2, "other":3})
students_math.guardian = students_math.guardian.map({"mother":0, "father":1, "other":2})
students_math.schoolsup = students_math.schoolsup.map({"yes":0, "no":1})
students_math.famsup = students_math.famsup.map({"yes":0, "no":1})
students_math.paid = students_math.paid.map({"yes":0, "no":1})
students_math.activities = students_math.activities.map({"yes":0, "no":1})
students_math.nursery = students_math.nursery.map({"yes":0, "no":1})
students_math.higher = students_math.higher.map({"yes":0, "no":1})
students_math.internet = students_math.internet.map({"yes":0, "no":1})
students_math.romantic = students_math.romantic.map({"yes":0, "no":1})

# Add a column describing if G3 (final grade) is high or low
# High = 12-20 (60% of 20 and above)
# Low = 0-11 (below 60% of 20)

students_math["quality"] = (students_math.G3 >= 12).map({True: 1, False: 0})
students_math

     school  sex  age  address  famsize  ...  absences  G1  G2  G3  quality
0         0    0   18        0        1  ...         6   5   6   6        0
1         0    0   17        0        1  ...         4   5   5   6        0
2         0    0   15        0        0  ...        10   7   8  10        0
3         0    0   15        0        1  ...         2  15  14  15        1
4         0    0   16        0        1  ...         4   6  10  10        0
..      ...  ...  ...      ...      ...  ...       ...  ..  ..  ..      ...
390       1    1   20        0        0  ...        11   9   9   9        0
391       1    1   17        0        0  ...         3  14  16  16        1
392       1    1   21        1        1  ...         3  10   8   7        0
393       1    1   18        1        0  ...         0  11  12  10        0
394       1    1   19        0        0  ...         5   8   9   9        0

[395 rows x 34 columns]

In [103]:
from sklearn.model_selection import train_test_split
from sklearn import svm

y = students_math['quality']
X = students_math.drop('quality', axis=1)
X.shape, y.shape
print(y)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=0)

print(X_train.shape, y_train.shape)

print(X_test.shape, y_test.shape)

clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

0      0
1      0
2      0
3      1
4      0
      ..
390    0
391    1
392    0
393    0
394    0
Name: quality, Length: 395, dtype: int64
(237, 33) (237,)
(158, 33) (158,)

0.9620253164556962

## Data and Analysis

## Conclusion

## Individual Contributions